.App {
  display: flex;
  flex-direction: row;
}

.todoList {
  width: 300px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.filter-active {
  background-color: #39bfff;
}

.Low {
  color: green;
  text-shadow: 1px 1px 1px black;
}

.Middle {
  color: yellow;
  text-shadow: 1px 1px 1px black;
}

.High {
  color: orange;
  text-shadow: 1px 1px 1px black;
}

.Urgently {
  color: red;
  text-shadow: 1px 1px 1px black;
}

.Later {
  color: dodgerblue;
  text-shadow: 1px 1px 1px black;
}

.error {
  border-color: red;
}

.done {
  text-decoration: line-through;
}
.todoListTitle {
  position: relative;
}
.removeTodoListButton {
  position: absolute;
  top: 5px;
  right: 5px;
}
.taskInfo {
  position: relative;
}
.removeTaskButton {
  position: absolute;
  right: 5px;
  top: 5px;
}
.img {
  width: 100px;
}