.App {

}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.filter-active {
  background-color: #39bfff;
}

.filter-low {
  color: yellow;
  text-shadow: 1px 1px 1px black;
}

.filter-medium {
  color: orange;
  text-shadow: 1px 1px 1px black;
}

.filter-high {
  color: red;
  text-shadow: 1px 1px 1px black;
}

.error {
  border-color: red;
}

.done {
  opacity: 0.5;
}
